@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;

}
.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(hdefspace.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    top: 0;
    background-size: cover;
}
.inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightskyblue;

}

.content {
    max-width: 500px;
    margin: 0 auto;
    align-content: center;
    text-align: center;
}

.content h1 {
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    font-size: 400%;
    font-family: Oswald;
}   

.btn {
    border: solid white 3px;
    border-radius: 9px;
    font-family: Oswald, sans-serif;
    color: turquoise;
    padding: 6px 8px ;
    font-size: 130%;
}

.btn:hover {
    color: white;
    border: solid turquoise 3px;
}

p {
    margin: 100px;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Below is the navbar */


.navbar {
    position: fixed;
    border: 1px solid black;
    width: 100%;
    background-color: white
}
li {
    float: left;
    text-decoration: none;
    list-style-type: none;
}

li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: lightblue;
    color: lightseagreen;
}
.anything {
    height: 100vh;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 140%;
}

input[type=submit] {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 150%;
}

input[type=submit]:hover {
    background-color:blueviolet;
} 